@mixin block-title {
  .title {
    font-size: 34px;
    font-family: Firs-Neue-Bold, sans-serif;
  }
  .subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 120%;
    &:not(.bold-subtitle) {
      font-family: Firs-Neue-Light, sans-serif;
    }
    > .underline-subtitle {
      text-decoration: underline;
    }
    > .bold-subtitle {
      font-family: Firs-Neue-Bold, sans-serif;
    }
  }
}
