.progress-carousel-container {
  --active-width: 280px;

  .carousel-scroll-progress {
    width: calc(var(--active-width) - 48px);
    margin: 12px 28px;
    display: flex;
    gap: 7px;
  }

  .carousel-dot {
    width: 0px;
    flex-grow: 1;
    height: 4px;
    background-color: rgba(198, 198, 198, 0.5);
    border-radius: 100px;
    position: relative;
    overflow: hidden;
  }

  .carousel-dots-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(198, 198, 198);
  }

  .carousel-content {
    display: flex;
  }

  .carousel-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: var(--active-width);
    height: 350px;
    overflow: hidden;
    &:not(:first-child) {
      margin-left: -12px;
    }
    > img {
      width: 240px;
      height: 300px;
      border-radius: 16px;
      transition: 0.4s ease-in;
    }
    &.active > img {
      width: 100%;
      height: 100%;
    }
  }
}
